<template>
  <v-container>
    <v-row
      justify="center"
    >
      <v-col
        cols="4"
        align-self="center"
      >
        <v-btn
          to="/game-room"
        >
          Rejoindre ou créer une table
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">

</script>

<style scoped>

</style>